.side-menu {
  padding: 18px;
  background-color: #2196f3;
  width: 280px;
  height: 100%;
  color: white;
}

.side-menu > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.side-menu > ul > li {
  margin-bottom: 16px;
  cursor: pointer;
}
